<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>GENERAL</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>ContextoL</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/e3837dfa-3e78-42a2-a688-a7b706383b3f.png" alt="GENERAL" usemap="#e3837dfa-3e78-42a2-a688-a7b706383b3fmap">
			<map name="e3837dfa-3e78-42a2-a688-a7b706383b3fmap">
								<area shape="rect" coords="356,284,622,394" href="../elements/b855e303-8dab-40c6-87fa-e776365c3e38.html"  target="element">
								<area shape="rect" coords="644,284,884,394" href="../elements/ca394be8-a980-4c93-a4d7-ea23af8b5c42.html"  target="element">
								<area shape="rect" coords="908,284,1174,394" href="../elements/dcb752b1-4e76-410a-8c2a-c4cfa443c0e0.html"  target="element">
								<area shape="rect" coords="1220,284,1460,394" href="../elements/a5a260f1-a23d-475f-a415-4345a4f3654c.html"  target="element">
								<area shape="rect" coords="1484,284,1724,394" href="../elements/4f67db14-fddd-450e-9343-76af00ef50fa.html"  target="element">
								<area shape="rect" coords="356,428,670,538" href="../elements/15d7d542-095d-4acf-8483-d5b8f3159905.html"  target="element">
								<area shape="rect" coords="692,428,932,538" href="../elements/782bbf03-a4fb-452d-9239-d15d5da95eb2.html"  target="element">
								<area shape="rect" coords="956,428,1196,538" href="../elements/0837fdb7-2134-4e70-8bda-e48aac4102f0.html"  target="element">
								<area shape="rect" coords="1220,428,1460,538" href="../elements/548863c9-2fe4-4a89-abde-ba4cd71831cf.html"  target="element">
								<area shape="rect" coords="1484,428,1724,538" href="../elements/4921fb6e-097b-48d2-b6dd-5e1ef275ae82.html"  target="element">
								<area shape="rect" coords="1748,284,1966,394" href="../elements/695b461f-b0c0-429e-a2c1-736ebe81f8d3.html"  target="element">

						<area shape="rect" coords="332,212,2038,550" href="../elements/17cf249b-7052-44fc-998f-29fed754cd55.html"  target="element">
										<area shape="rect" coords="1580,1520,1796,1630" href="../elements/09e01306-5f7e-45a7-a01f-8580a23edab9.html"  target="element">
										<area shape="rect" coords="1316,1520,1556,1630" href="../elements/6ba2bd3a-a8c8-48fd-b4c3-b48e70f12083.html"  target="element">

								<area shape="rect" coords="1316,1472,1798,1666" href="../elements/4347a5aa-760c-4817-8200-235606ba1fa6.html"  target="element">
								<area shape="rect" coords="1268,1676,1508,1786" href="../elements/2f3e40c2-adae-46c8-ac76-84e44dd1d9ec.html"  target="element">
										<area shape="rect" coords="764,1532,1004,1642" href="../elements/2c0d478e-711b-494f-a1fc-368f05e1aee5.html"  target="element">
										<area shape="rect" coords="1028,1532,1268,1642" href="../elements/02d829b4-0b5b-4780-aa76-9093306f0fb7.html"  target="element">
										<area shape="rect" coords="476,1532,742,1642" href="../elements/813a8c08-4bc0-4bf7-91bb-3b005daafab3.html"  target="element">

								<area shape="rect" coords="452,1484,1294,1654" href="../elements/fbd44e74-46f0-41dc-9bb9-8d4c2f15d30b.html"  target="element">
								<area shape="rect" coords="1532,1676,1798,1786" href="../elements/22952234-f761-4743-88bc-09a74623a508.html"  target="element">
										<area shape="rect" coords="452,1718,692,1798" href="../elements/0933e579-f9e6-4277-904a-56eabbcdef39.html"  target="element">
										<area shape="rect" coords="716,1720,956,1794" href="../elements/4ac4de9b-65b1-4ac0-85a1-bcec0c57b417.html"  target="element">
										<area shape="rect" coords="980,1702,1220,1812" href="../elements/74ef0e48-3cc7-4771-9aec-35efbef24d0a.html"  target="element">

								<area shape="rect" coords="452,1664,1246,1822" href="../elements/393d879b-1c47-4091-bab0-a6a9c666e85e.html"  target="element">

						<area shape="rect" coords="428,1412,1966,1822" href="../elements/21eb972f-7f39-4c5a-b348-8cf26addf5fc.html"  target="element">
												<area shape="rect" coords="1244,764,1438,838" href="../elements/a9413e5b-d1bd-4a0e-91bc-e7c52c06a7f5.html"  target="element">
												<area shape="rect" coords="1460,764,1678,838" href="../elements/0eacd3be-46e5-4a36-868b-ae9ab3fb6021.html"  target="element">
												<area shape="rect" coords="1700,764,1894,838" href="../elements/4a5b0247-dd85-43eb-a0d8-8a24e2e6426e.html"  target="element">

										<area shape="rect" coords="1244,716,1894,886" href="../elements/ea74ba55-4c87-4758-8488-9639c8cc1b02.html"  target="element">
										<area shape="rect" coords="1460,908,1700,1006" href="../elements/d16d4060-a27c-4652-899f-3b454d621cf3.html"  target="element">

								<area shape="rect" coords="1220,668,1918,1030" href="../elements/aab760e0-8764-4331-9008-a3874a1f4875.html"  target="element">
										<area shape="rect" coords="428,740,646,814" href="../elements/272bdc43-66a3-4550-afc2-9b69a42b415a.html"  target="element">
										<area shape="rect" coords="668,716,934,838" href="../elements/0f3b86ec-dc27-40b8-8605-38ddd185e14e.html"  target="element">
										<area shape="rect" coords="428,836,694,922" href="../elements/c48622d2-d5e7-4227-9f3e-ce7669eb574e.html"  target="element">

								<area shape="rect" coords="404,668,958,934" href="../elements/cd020c15-af90-4331-8b14-f3913f1a561b.html"  target="element">
										<area shape="rect" coords="428,1076,668,1186" href="../elements/bb474e27-bd76-4f4c-841f-4c72cec9bd4b.html"  target="element">
										<area shape="rect" coords="692,1076,932,1186" href="../elements/1578028e-563b-4278-a788-81b20a1bd098.html"  target="element">
										<area shape="rect" coords="428,1196,668,1306" href="../elements/dcbd4427-235b-4264-8dd7-9397b3fcdb4a.html"  target="element">
										<area shape="rect" coords="692,1196,932,1306" href="../elements/ad0974ff-0e89-453f-ad62-695d474000c9.html"  target="element">

								<area shape="rect" coords="404,980,982,1318" href="../elements/f97c4387-57e4-483a-b069-921b8075ce0b.html"  target="element">
										<area shape="rect" coords="1448,1196,1688,1306" href="../elements/352feddb-e515-4fa9-8867-b73886c30990.html"  target="element">

								<area shape="rect" coords="1280,1124,1858,1318" href="../elements/aab760e0-8764-4331-9008-a3874a1f4875.html"  target="element">

						<area shape="rect" coords="380,596,1966,1366" href="../elements/ac243f78-f2e2-4b4e-b5df-f535a751f1e1.html"  target="element">
								<area shape="rect" coords="44,740,286,850" href="../elements/c2bd58a7-0413-4688-b320-987507eb4e87.html"  target="element">
								<area shape="rect" coords="46,884,286,994" href="../elements/1de7f354-6143-4832-8813-4aa481b290e4.html"  target="element">
								<area shape="rect" coords="44,1148,284,1258" href="../elements/a7ff178e-c5c8-4b59-babb-027745582937.html"  target="element">

						<area shape="rect" coords="20,596,310,1366" href="../elements/fbf8f407-024f-48a7-adb2-6e47f2649083.html"  target="element">
								<area shape="rect" coords="2060,788,2324,898" href="../elements/e0e505eb-bd96-4d43-a0a1-f73ab4656dfd.html"  target="element">
								<area shape="rect" coords="2060,956,2324,1066" href="../elements/c874be0b-6843-46d7-b086-9085bff56811.html"  target="element">
								<area shape="rect" coords="2084,1124,2324,1234" href="../elements/a002497a-c545-482a-b777-61d22532a1aa.html"  target="element">

						<area shape="rect" coords="2036,668,2348,1318" href="../elements/da3bd29a-2465-42c1-9736-be0eac6b1d96.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/17cf249b-7052-44fc-998f-29fed754cd55.html" target="element"> Procesos de Gesti&#243;n </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/b855e303-8dab-40c6-87fa-e776365c3e38.html" target="element"> Financiamiento </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/ca394be8-a980-4c93-a4d7-ea23af8b5c42.html" target="element"> Planeaci&#243;n estrat&#233;gica </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/dcb752b1-4e76-410a-8c2a-c4cfa443c0e0.html" target="element"> Administraci&#243;n de riesgos </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/a5a260f1-a23d-475f-a415-4345a4f3654c.html" target="element"> Mejora de oferta </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/4f67db14-fddd-450e-9343-76af00ef50fa.html" target="element"> Relaci&#243;n con proveedores </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/15d7d542-095d-4acf-8483-d5b8f3159905.html" target="element"> Implementaci&#243;n de politicas, normas y reglamentos </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/782bbf03-a4fb-452d-9239-d15d5da95eb2.html" target="element"> Gesti&#243;n de calidad </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/0837fdb7-2134-4e70-8bda-e48aac4102f0.html" target="element"> Nuevos proyectos </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/548863c9-2fe4-4a89-abde-ba4cd71831cf.html" target="element"> Investigaci&#243;n de mercados </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/4921fb6e-097b-48d2-b6dd-5e1ef275ae82.html" target="element"> Elaboraci&#243;n de planes </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/695b461f-b0c0-429e-a2c1-736ebe81f8d3.html" target="element"> Planeaci&#243;n Financiera </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											
											<tr><td> <a href="../elements/21eb972f-7f39-4c5a-b348-8cf26addf5fc.html" target="element"> Procesos de Soporte </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/4347a5aa-760c-4817-8200-235606ba1fa6.html" target="element"> TI </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
															<tr><td> <a href="../elements/09e01306-5f7e-45a7-a01f-8580a23edab9.html" target="element"> Sistemas de informaci&#243;n </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../elements/6ba2bd3a-a8c8-48fd-b4c3-b48e70f12083.html" target="element"> Soporte t&#233;cnico </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													
													<tr><td> <a href="../elements/2f3e40c2-adae-46c8-ac76-84e44dd1d9ec.html" target="element"> Promoci&#243;n </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/fbd44e74-46f0-41dc-9bb9-8d4c2f15d30b.html" target="element"> RH </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
															<tr><td> <a href="../elements/2c0d478e-711b-494f-a1fc-368f05e1aee5.html" target="element"> Capacitaci&#243;n </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../elements/02d829b4-0b5b-4780-aa76-9093306f0fb7.html" target="element"> Evaluaci&#243;n de desempe&#241;o </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../elements/813a8c08-4bc0-4bf7-91bb-3b005daafab3.html" target="element"> Reclutamiento y selecci&#243;n </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													
													<tr><td> <a href="../elements/22952234-f761-4743-88bc-09a74623a508.html" target="element"> Aseguramiento de la calidad </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/393d879b-1c47-4091-bab0-a6a9c666e85e.html" target="element"> Finanzas </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
															<tr><td> <a href="../elements/0933e579-f9e6-4277-904a-56eabbcdef39.html" target="element"> Monitoreo de indicadores </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../elements/4ac4de9b-65b1-4ac0-85a1-bcec0c57b417.html" target="element"> Contabilidad </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../elements/74ef0e48-3cc7-4771-9aec-35efbef24d0a.html" target="element"> Control de costos e impuestos </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													
											
											<tr><td> <a href="../elements/ac243f78-f2e2-4b4e-b5df-f535a751f1e1.html" target="element"> Procesos clave </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/aab760e0-8764-4331-9008-a3874a1f4875.html" target="element"> Ventas </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
															<tr><td> <a href="../elements/ea74ba55-4c87-4758-8488-9639c8cc1b02.html" target="element"> Administra ventas </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
																	<tr><td> <a href="../elements/a9413e5b-d1bd-4a0e-91bc-e7c52c06a7f5.html" target="element"> Visita clientes </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
																	<tr><td> <a href="../elements/0eacd3be-46e5-4a36-868b-ae9ab3fb6021.html" target="element"> Cotizaci&#243;n </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
																	<tr><td> <a href="../elements/4a5b0247-dd85-43eb-a0d8-8a24e2e6426e.html" target="element"> Cierre de venta </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															
															<tr><td> <a href="../elements/d16d4060-a27c-4652-899f-3b454d621cf3.html" target="element"> Prospecci&#243;n de clientes </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													
													<tr><td> <a href="../elements/cd020c15-af90-4331-8b14-f3913f1a561b.html" target="element"> Compras </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
															<tr><td> <a href="../elements/272bdc43-66a3-4550-afc2-9b69a42b415a.html" target="element"> Forecast de compras </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../elements/0f3b86ec-dc27-40b8-8605-38ddd185e14e.html" target="element"> Negociaciones con proveedores </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../elements/c48622d2-d5e7-4227-9f3e-ce7669eb574e.html" target="element"> Adquisic&#243;n de mercancias </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													
													<tr><td> <a href="../elements/f97c4387-57e4-483a-b069-921b8075ce0b.html" target="element"> Operaci&#243;n </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
															<tr><td> <a href="../elements/bb474e27-bd76-4f4c-841f-4c72cec9bd4b.html" target="element"> Recepci&#243;n </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../elements/1578028e-563b-4278-a788-81b20a1bd098.html" target="element"> Almacenaje </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../elements/dcbd4427-235b-4264-8dd7-9397b3fcdb4a.html" target="element"> Surtido y empaque </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
															<tr><td> <a href="../elements/ad0974ff-0e89-453f-ad62-695d474000c9.html" target="element"> Embarque y distribuci&#243;n </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													
													<tr><td> <a href="../elements/aab760e0-8764-4331-9008-a3874a1f4875.html" target="element"> Ventas </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
															<tr><td> <a href="../elements/352feddb-e515-4fa9-8867-b73886c30990.html" target="element"> Asistencia Posventa </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													
											
											<tr><td> <a href="../elements/fbf8f407-024f-48a7-adb2-6e47f2649083.html" target="element"> Proveedores </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/c2bd58a7-0413-4688-b320-987507eb4e87.html" target="element"> Laboratorios </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
													<tr><td> <a href="../elements/1de7f354-6143-4832-8813-4aa481b290e4.html" target="element"> Distribuidores </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
													<tr><td> <a href="../elements/a7ff178e-c5c8-4b59-babb-027745582937.html" target="element"> Almacen </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											
											<tr><td> <a href="../elements/da3bd29a-2465-42c1-9736-be0eac6b1d96.html" target="element"> Mercado </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/e0e505eb-bd96-4d43-a0a1-f73ab4656dfd.html" target="element"> Distribuidores </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
													<tr><td> <a href="../elements/c874be0b-6843-46d7-b086-9085bff56811.html" target="element"> Cadena de farmacias </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
													<tr><td> <a href="../elements/a002497a-c545-482a-b777-61d22532a1aa.html" target="element"> Farmacias independientes </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/6e346e7f-6bf5-4d3f-a168-12281601b399.html" target="element">  </a> </td>
																		<td> <a href="../elements/6e346e7f-6bf5-4d3f-a168-12281601b399.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/17cf249b-7052-44fc-998f-29fed754cd55.html" target="element"> Procesos de Gesti&#243;n </a> </td>
																		<td> <a href="../elements/b855e303-8dab-40c6-87fa-e776365c3e38.html" target="element"> Financiamiento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/40fbfd8d-c6fb-4c4a-a013-ac7e892d3b5e.html" target="element">  </a> </td>
																		<td> <a href="../elements/40fbfd8d-c6fb-4c4a-a013-ac7e892d3b5e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/17cf249b-7052-44fc-998f-29fed754cd55.html" target="element"> Procesos de Gesti&#243;n </a> </td>
																		<td> <a href="../elements/ca394be8-a980-4c93-a4d7-ea23af8b5c42.html" target="element"> Planeaci&#243;n estrat&#233;gica </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7f3e22aa-fe69-4e18-bd40-43895fa86cd9.html" target="element">  </a> </td>
																		<td> <a href="../elements/7f3e22aa-fe69-4e18-bd40-43895fa86cd9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/17cf249b-7052-44fc-998f-29fed754cd55.html" target="element"> Procesos de Gesti&#243;n </a> </td>
																		<td> <a href="../elements/dcb752b1-4e76-410a-8c2a-c4cfa443c0e0.html" target="element"> Administraci&#243;n de riesgos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c3efe265-23c3-4712-ae96-0f1491beecdb.html" target="element">  </a> </td>
																		<td> <a href="../elements/c3efe265-23c3-4712-ae96-0f1491beecdb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/17cf249b-7052-44fc-998f-29fed754cd55.html" target="element"> Procesos de Gesti&#243;n </a> </td>
																		<td> <a href="../elements/a5a260f1-a23d-475f-a415-4345a4f3654c.html" target="element"> Mejora de oferta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6489b58b-c554-4352-a0ce-cabd497894ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/6489b58b-c554-4352-a0ce-cabd497894ed.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/17cf249b-7052-44fc-998f-29fed754cd55.html" target="element"> Procesos de Gesti&#243;n </a> </td>
																		<td> <a href="../elements/4f67db14-fddd-450e-9343-76af00ef50fa.html" target="element"> Relaci&#243;n con proveedores </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bc3973a1-f3e9-469e-88e2-07079b5b8cc6.html" target="element">  </a> </td>
																		<td> <a href="../elements/bc3973a1-f3e9-469e-88e2-07079b5b8cc6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/17cf249b-7052-44fc-998f-29fed754cd55.html" target="element"> Procesos de Gesti&#243;n </a> </td>
																		<td> <a href="../elements/15d7d542-095d-4acf-8483-d5b8f3159905.html" target="element"> Implementaci&#243;n de politicas, normas y reglamentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/44efb6fa-4da9-4028-99ec-277c92121c0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/44efb6fa-4da9-4028-99ec-277c92121c0e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/17cf249b-7052-44fc-998f-29fed754cd55.html" target="element"> Procesos de Gesti&#243;n </a> </td>
																		<td> <a href="../elements/782bbf03-a4fb-452d-9239-d15d5da95eb2.html" target="element"> Gesti&#243;n de calidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/66557fd5-6781-4cf7-bcb1-c7bf57750306.html" target="element">  </a> </td>
																		<td> <a href="../elements/66557fd5-6781-4cf7-bcb1-c7bf57750306.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/17cf249b-7052-44fc-998f-29fed754cd55.html" target="element"> Procesos de Gesti&#243;n </a> </td>
																		<td> <a href="../elements/0837fdb7-2134-4e70-8bda-e48aac4102f0.html" target="element"> Nuevos proyectos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a86204d2-f04f-4fd0-a9b7-2bdb165b7823.html" target="element">  </a> </td>
																		<td> <a href="../elements/a86204d2-f04f-4fd0-a9b7-2bdb165b7823.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/17cf249b-7052-44fc-998f-29fed754cd55.html" target="element"> Procesos de Gesti&#243;n </a> </td>
																		<td> <a href="../elements/548863c9-2fe4-4a89-abde-ba4cd71831cf.html" target="element"> Investigaci&#243;n de mercados </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/96591c82-1090-45ec-8a20-a5652dc39a47.html" target="element">  </a> </td>
																		<td> <a href="../elements/96591c82-1090-45ec-8a20-a5652dc39a47.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/17cf249b-7052-44fc-998f-29fed754cd55.html" target="element"> Procesos de Gesti&#243;n </a> </td>
																		<td> <a href="../elements/4921fb6e-097b-48d2-b6dd-5e1ef275ae82.html" target="element"> Elaboraci&#243;n de planes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e3e459a9-93f7-4b56-b9d1-f5c4454a73ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/e3e459a9-93f7-4b56-b9d1-f5c4454a73ce.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/17cf249b-7052-44fc-998f-29fed754cd55.html" target="element"> Procesos de Gesti&#243;n </a> </td>
																		<td> <a href="../elements/695b461f-b0c0-429e-a2c1-736ebe81f8d3.html" target="element"> Planeaci&#243;n Financiera </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/6d54a8c0-5463-4bde-a0bd-25eb131965c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/6d54a8c0-5463-4bde-a0bd-25eb131965c6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/21eb972f-7f39-4c5a-b348-8cf26addf5fc.html" target="element"> Procesos de Soporte </a> </td>
																		<td> <a href="../elements/2f3e40c2-adae-46c8-ac76-84e44dd1d9ec.html" target="element"> Promoci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e2fdcf67-b15e-493f-b0a3-3b2c23abc318.html" target="element">  </a> </td>
																		<td> <a href="../elements/e2fdcf67-b15e-493f-b0a3-3b2c23abc318.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/21eb972f-7f39-4c5a-b348-8cf26addf5fc.html" target="element"> Procesos de Soporte </a> </td>
																		<td> <a href="../elements/fbd44e74-46f0-41dc-9bb9-8d4c2f15d30b.html" target="element"> RH </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9480a3c0-d895-4945-ae07-4831aec851db.html" target="element">  </a> </td>
																		<td> <a href="../elements/9480a3c0-d895-4945-ae07-4831aec851db.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/21eb972f-7f39-4c5a-b348-8cf26addf5fc.html" target="element"> Procesos de Soporte </a> </td>
																		<td> <a href="../elements/4347a5aa-760c-4817-8200-235606ba1fa6.html" target="element"> TI </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b58dfc85-54b4-40a4-b97b-4885eb13fcdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/b58dfc85-54b4-40a4-b97b-4885eb13fcdf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/21eb972f-7f39-4c5a-b348-8cf26addf5fc.html" target="element"> Procesos de Soporte </a> </td>
																		<td> <a href="../elements/22952234-f761-4743-88bc-09a74623a508.html" target="element"> Aseguramiento de la calidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3d35cec3-824e-4f4d-bccf-0bee59eabbb1.html" target="element">  </a> </td>
																		<td> <a href="../elements/3d35cec3-824e-4f4d-bccf-0bee59eabbb1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/21eb972f-7f39-4c5a-b348-8cf26addf5fc.html" target="element"> Procesos de Soporte </a> </td>
																		<td> <a href="../elements/393d879b-1c47-4091-bab0-a6a9c666e85e.html" target="element"> Finanzas </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/b1b5b00a-ff17-45e6-9530-491bc7142e29.html" target="element">  </a> </td>
																				<td> <a href="../elements/b1b5b00a-ff17-45e6-9530-491bc7142e29.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/4347a5aa-760c-4817-8200-235606ba1fa6.html" target="element"> TI </a> </td>
																				<td> <a href="../elements/09e01306-5f7e-45a7-a01f-8580a23edab9.html" target="element"> Sistemas de informaci&#243;n </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/af8f39ee-2bc5-4f01-a096-1654a29c8e09.html" target="element">  </a> </td>
																				<td> <a href="../elements/af8f39ee-2bc5-4f01-a096-1654a29c8e09.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/4347a5aa-760c-4817-8200-235606ba1fa6.html" target="element"> TI </a> </td>
																				<td> <a href="../elements/6ba2bd3a-a8c8-48fd-b4c3-b48e70f12083.html" target="element"> Soporte t&#233;cnico </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/813ae846-247e-4878-9c90-2c099b231b12.html" target="element">  </a> </td>
																				<td> <a href="../elements/813ae846-247e-4878-9c90-2c099b231b12.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/fbd44e74-46f0-41dc-9bb9-8d4c2f15d30b.html" target="element"> RH </a> </td>
																				<td> <a href="../elements/2c0d478e-711b-494f-a1fc-368f05e1aee5.html" target="element"> Capacitaci&#243;n </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/eccac37f-63e1-49e2-8c4f-7d1b982634c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/eccac37f-63e1-49e2-8c4f-7d1b982634c2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/fbd44e74-46f0-41dc-9bb9-8d4c2f15d30b.html" target="element"> RH </a> </td>
																				<td> <a href="../elements/02d829b4-0b5b-4780-aa76-9093306f0fb7.html" target="element"> Evaluaci&#243;n de desempe&#241;o </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b47c6936-47de-49ea-9ceb-7d1942799974.html" target="element">  </a> </td>
																				<td> <a href="../elements/b47c6936-47de-49ea-9ceb-7d1942799974.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/fbd44e74-46f0-41dc-9bb9-8d4c2f15d30b.html" target="element"> RH </a> </td>
																				<td> <a href="../elements/813a8c08-4bc0-4bf7-91bb-3b005daafab3.html" target="element"> Reclutamiento y selecci&#243;n </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/c11c686c-cf1c-4f88-93ab-9e00a6268c2d.html" target="element">  </a> </td>
																				<td> <a href="../elements/c11c686c-cf1c-4f88-93ab-9e00a6268c2d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/393d879b-1c47-4091-bab0-a6a9c666e85e.html" target="element"> Finanzas </a> </td>
																				<td> <a href="../elements/0933e579-f9e6-4277-904a-56eabbcdef39.html" target="element"> Monitoreo de indicadores </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4115fd3b-e612-4a46-955e-e1eba606d110.html" target="element">  </a> </td>
																				<td> <a href="../elements/4115fd3b-e612-4a46-955e-e1eba606d110.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/393d879b-1c47-4091-bab0-a6a9c666e85e.html" target="element"> Finanzas </a> </td>
																				<td> <a href="../elements/4ac4de9b-65b1-4ac0-85a1-bcec0c57b417.html" target="element"> Contabilidad </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e1be72e6-65bd-440b-83be-afd18a7435fb.html" target="element">  </a> </td>
																				<td> <a href="../elements/e1be72e6-65bd-440b-83be-afd18a7435fb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/393d879b-1c47-4091-bab0-a6a9c666e85e.html" target="element"> Finanzas </a> </td>
																				<td> <a href="../elements/74ef0e48-3cc7-4771-9aec-35efbef24d0a.html" target="element"> Control de costos e impuestos </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/4589a155-e6ed-4cfb-be2d-f9d3b8d4fc86.html" target="element">  </a> </td>
																		<td> <a href="../elements/4589a155-e6ed-4cfb-be2d-f9d3b8d4fc86.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/ac243f78-f2e2-4b4e-b5df-f535a751f1e1.html" target="element"> Procesos clave </a> </td>
																		<td> <a href="../elements/aab760e0-8764-4331-9008-a3874a1f4875.html" target="element"> Ventas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6182231f-35ae-42e6-9be9-9514764edf75.html" target="element">  </a> </td>
																		<td> <a href="../elements/6182231f-35ae-42e6-9be9-9514764edf75.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/ac243f78-f2e2-4b4e-b5df-f535a751f1e1.html" target="element"> Procesos clave </a> </td>
																		<td> <a href="../elements/cd020c15-af90-4331-8b14-f3913f1a561b.html" target="element"> Compras </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dea01e63-c9a2-4c29-9828-fa8fea3c9a5e.html" target="element">  </a> </td>
																		<td> <a href="../elements/dea01e63-c9a2-4c29-9828-fa8fea3c9a5e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/ac243f78-f2e2-4b4e-b5df-f535a751f1e1.html" target="element"> Procesos clave </a> </td>
																		<td> <a href="../elements/f97c4387-57e4-483a-b069-921b8075ce0b.html" target="element"> Operaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4589a155-e6ed-4cfb-be2d-f9d3b8d4fc86.html" target="element">  </a> </td>
																		<td> <a href="../elements/4589a155-e6ed-4cfb-be2d-f9d3b8d4fc86.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/ac243f78-f2e2-4b4e-b5df-f535a751f1e1.html" target="element"> Procesos clave </a> </td>
																		<td> <a href="../elements/aab760e0-8764-4331-9008-a3874a1f4875.html" target="element"> Ventas </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/37c31c9f-97e6-4ccc-b9a8-20050d00db4c.html" target="element">  </a> </td>
																				<td> <a href="../elements/37c31c9f-97e6-4ccc-b9a8-20050d00db4c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/aab760e0-8764-4331-9008-a3874a1f4875.html" target="element"> Ventas </a> </td>
																				<td> <a href="../elements/ea74ba55-4c87-4758-8488-9639c8cc1b02.html" target="element"> Administra ventas </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/88ab4b5a-7b45-47bf-847e-c67a75567e88.html" target="element">  </a> </td>
																				<td> <a href="../elements/88ab4b5a-7b45-47bf-847e-c67a75567e88.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/aab760e0-8764-4331-9008-a3874a1f4875.html" target="element"> Ventas </a> </td>
																				<td> <a href="../elements/d16d4060-a27c-4652-899f-3b454d621cf3.html" target="element"> Prospecci&#243;n de clientes </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/dc41031f-7786-43cf-a8a0-878bb509736b.html" target="element"> Proporciona informaci&#243;n </a> </td>
																				<td> <a href="../elements/dc41031f-7786-43cf-a8a0-878bb509736b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/aab760e0-8764-4331-9008-a3874a1f4875.html" target="element"> Ventas </a> </td>
																				<td> <a href="../elements/f97c4387-57e4-483a-b069-921b8075ce0b.html" target="element"> Operaci&#243;n </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/656c6fe4-ea46-4639-828e-4818b13d11bd.html" target="element"> Sirve </a> </td>
																				<td> <a href="../elements/656c6fe4-ea46-4639-828e-4818b13d11bd.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/aab760e0-8764-4331-9008-a3874a1f4875.html" target="element"> Ventas </a> </td>
																				<td> <a href="../elements/da3bd29a-2465-42c1-9736-be0eac6b1d96.html" target="element"> Mercado </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/4efb5123-79bc-4a33-a8b6-6e043e1d7b8d.html" target="element">  </a> </td>
																						<td> <a href="../elements/4efb5123-79bc-4a33-a8b6-6e043e1d7b8d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/ea74ba55-4c87-4758-8488-9639c8cc1b02.html" target="element"> Administra ventas </a> </td>
																						<td> <a href="../elements/a9413e5b-d1bd-4a0e-91bc-e7c52c06a7f5.html" target="element"> Visita clientes </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/63abcec8-950a-448d-8874-7ac4523492fc.html" target="element">  </a> </td>
																						<td> <a href="../elements/63abcec8-950a-448d-8874-7ac4523492fc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/ea74ba55-4c87-4758-8488-9639c8cc1b02.html" target="element"> Administra ventas </a> </td>
																						<td> <a href="../elements/0eacd3be-46e5-4a36-868b-ae9ab3fb6021.html" target="element"> Cotizaci&#243;n </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/0976ac38-27ad-4d02-b094-01ac7d99642b.html" target="element">  </a> </td>
																						<td> <a href="../elements/0976ac38-27ad-4d02-b094-01ac7d99642b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/ea74ba55-4c87-4758-8488-9639c8cc1b02.html" target="element"> Administra ventas </a> </td>
																						<td> <a href="../elements/4a5b0247-dd85-43eb-a0d8-8a24e2e6426e.html" target="element"> Cierre de venta </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/434c094b-9aa2-49c9-b676-db16e1683b9a.html" target="element">  </a> </td>
																				<td> <a href="../elements/434c094b-9aa2-49c9-b676-db16e1683b9a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/cd020c15-af90-4331-8b14-f3913f1a561b.html" target="element"> Compras </a> </td>
																				<td> <a href="../elements/272bdc43-66a3-4550-afc2-9b69a42b415a.html" target="element"> Forecast de compras </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d93553ef-4fee-40c8-a6d0-5e7872f997f0.html" target="element">  </a> </td>
																				<td> <a href="../elements/d93553ef-4fee-40c8-a6d0-5e7872f997f0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/cd020c15-af90-4331-8b14-f3913f1a561b.html" target="element"> Compras </a> </td>
																				<td> <a href="../elements/0f3b86ec-dc27-40b8-8605-38ddd185e14e.html" target="element"> Negociaciones con proveedores </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3e6aef0a-776b-4308-abae-787bda466032.html" target="element">  </a> </td>
																				<td> <a href="../elements/3e6aef0a-776b-4308-abae-787bda466032.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/cd020c15-af90-4331-8b14-f3913f1a561b.html" target="element"> Compras </a> </td>
																				<td> <a href="../elements/c48622d2-d5e7-4227-9f3e-ce7669eb574e.html" target="element"> Adquisic&#243;n de mercancias </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/db2ca6c0-d580-471d-bebd-c358d565e20e.html" target="element"> Suministran </a> </td>
																				<td> <a href="../elements/db2ca6c0-d580-471d-bebd-c358d565e20e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/cd020c15-af90-4331-8b14-f3913f1a561b.html" target="element"> Compras </a> </td>
																				<td> <a href="../elements/c2bd58a7-0413-4688-b320-987507eb4e87.html" target="element"> Laboratorios </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/528a8804-3ceb-4c18-9f67-1c19be2987c8.html" target="element"> Suministran </a> </td>
																				<td> <a href="../elements/528a8804-3ceb-4c18-9f67-1c19be2987c8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/cd020c15-af90-4331-8b14-f3913f1a561b.html" target="element"> Compras </a> </td>
																				<td> <a href="../elements/1de7f354-6143-4832-8813-4aa481b290e4.html" target="element"> Distribuidores </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e9b215bb-a186-45ca-a8be-bb4a3b23a855.html" target="element"> Proporciona informaci&#243;n </a> </td>
																				<td> <a href="../elements/e9b215bb-a186-45ca-a8be-bb4a3b23a855.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/cd020c15-af90-4331-8b14-f3913f1a561b.html" target="element"> Compras </a> </td>
																				<td> <a href="../elements/f97c4387-57e4-483a-b069-921b8075ce0b.html" target="element"> Operaci&#243;n </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/7e94e92d-0e73-499e-ab73-312560c78425.html" target="element">  </a> </td>
																				<td> <a href="../elements/7e94e92d-0e73-499e-ab73-312560c78425.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/f97c4387-57e4-483a-b069-921b8075ce0b.html" target="element"> Operaci&#243;n </a> </td>
																				<td> <a href="../elements/bb474e27-bd76-4f4c-841f-4c72cec9bd4b.html" target="element"> Recepci&#243;n </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/178a757d-79de-490d-baf8-777f35b8c8a8.html" target="element">  </a> </td>
																				<td> <a href="../elements/178a757d-79de-490d-baf8-777f35b8c8a8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/f97c4387-57e4-483a-b069-921b8075ce0b.html" target="element"> Operaci&#243;n </a> </td>
																				<td> <a href="../elements/1578028e-563b-4278-a788-81b20a1bd098.html" target="element"> Almacenaje </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/aa70df3c-1c96-4755-b844-35c6eeb0b7e6.html" target="element">  </a> </td>
																				<td> <a href="../elements/aa70df3c-1c96-4755-b844-35c6eeb0b7e6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/f97c4387-57e4-483a-b069-921b8075ce0b.html" target="element"> Operaci&#243;n </a> </td>
																				<td> <a href="../elements/dcbd4427-235b-4264-8dd7-9397b3fcdb4a.html" target="element"> Surtido y empaque </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/01ae6a9f-45e3-4ceb-b8de-62bdf45b9a03.html" target="element">  </a> </td>
																				<td> <a href="../elements/01ae6a9f-45e3-4ceb-b8de-62bdf45b9a03.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/f97c4387-57e4-483a-b069-921b8075ce0b.html" target="element"> Operaci&#243;n </a> </td>
																				<td> <a href="../elements/ad0974ff-0e89-453f-ad62-695d474000c9.html" target="element"> Embarque y distribuci&#243;n </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/40a14a6a-d497-4482-a274-e1aa75ae8d0d.html" target="element"> Proporciona informaci&#243;n </a> </td>
																				<td> <a href="../elements/40a14a6a-d497-4482-a274-e1aa75ae8d0d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/f97c4387-57e4-483a-b069-921b8075ce0b.html" target="element"> Operaci&#243;n </a> </td>
																				<td> <a href="../elements/aab760e0-8764-4331-9008-a3874a1f4875.html" target="element"> Ventas </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bb791acb-4824-45c3-88b0-729c2eea8c9a.html" target="element"> Soporta a  </a> </td>
																				<td> <a href="../elements/bb791acb-4824-45c3-88b0-729c2eea8c9a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/f97c4387-57e4-483a-b069-921b8075ce0b.html" target="element"> Operaci&#243;n </a> </td>
																				<td> <a href="../elements/a7ff178e-c5c8-4b59-babb-027745582937.html" target="element"> Almacen </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/c503a337-bc42-4ef9-a362-21369b2cc2a5.html" target="element">  </a> </td>
																				<td> <a href="../elements/c503a337-bc42-4ef9-a362-21369b2cc2a5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/aab760e0-8764-4331-9008-a3874a1f4875.html" target="element"> Ventas </a> </td>
																				<td> <a href="../elements/352feddb-e515-4fa9-8867-b73886c30990.html" target="element"> Asistencia Posventa </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/656c6fe4-ea46-4639-828e-4818b13d11bd.html" target="element"> Sirve </a> </td>
																				<td> <a href="../elements/656c6fe4-ea46-4639-828e-4818b13d11bd.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/aab760e0-8764-4331-9008-a3874a1f4875.html" target="element"> Ventas </a> </td>
																				<td> <a href="../elements/da3bd29a-2465-42c1-9736-be0eac6b1d96.html" target="element"> Mercado </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/32838639-9dcc-4239-a33a-e47ddd19d97a.html" target="element">  </a> </td>
																		<td> <a href="../elements/32838639-9dcc-4239-a33a-e47ddd19d97a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fbf8f407-024f-48a7-adb2-6e47f2649083.html" target="element"> Proveedores </a> </td>
																		<td> <a href="../elements/c2bd58a7-0413-4688-b320-987507eb4e87.html" target="element"> Laboratorios </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6ff9b954-5754-41a9-b504-7114ad9102c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/6ff9b954-5754-41a9-b504-7114ad9102c1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fbf8f407-024f-48a7-adb2-6e47f2649083.html" target="element"> Proveedores </a> </td>
																		<td> <a href="../elements/1de7f354-6143-4832-8813-4aa481b290e4.html" target="element"> Distribuidores </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a3e8240c-606a-491e-9747-528c7206d070.html" target="element">  </a> </td>
																		<td> <a href="../elements/a3e8240c-606a-491e-9747-528c7206d070.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fbf8f407-024f-48a7-adb2-6e47f2649083.html" target="element"> Proveedores </a> </td>
																		<td> <a href="../elements/a7ff178e-c5c8-4b59-babb-027745582937.html" target="element"> Almacen </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/16494c41-024c-417a-8063-6540bf5ddc23.html" target="element">  </a> </td>
																		<td> <a href="../elements/16494c41-024c-417a-8063-6540bf5ddc23.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/da3bd29a-2465-42c1-9736-be0eac6b1d96.html" target="element"> Mercado </a> </td>
																		<td> <a href="../elements/e0e505eb-bd96-4d43-a0a1-f73ab4656dfd.html" target="element"> Distribuidores </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/31aec3ae-d522-40d8-b8ad-b5acb3ae156e.html" target="element">  </a> </td>
																		<td> <a href="../elements/31aec3ae-d522-40d8-b8ad-b5acb3ae156e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/da3bd29a-2465-42c1-9736-be0eac6b1d96.html" target="element"> Mercado </a> </td>
																		<td> <a href="../elements/c874be0b-6843-46d7-b086-9085bff56811.html" target="element"> Cadena de farmacias </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10f9e3a3-5dba-49d6-8c20-8cff051cfc2b.html" target="element">  </a> </td>
																		<td> <a href="../elements/10f9e3a3-5dba-49d6-8c20-8cff051cfc2b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/da3bd29a-2465-42c1-9736-be0eac6b1d96.html" target="element"> Mercado </a> </td>
																		<td> <a href="../elements/a002497a-c545-482a-b777-61d22532a1aa.html" target="element"> Farmacias independientes </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>