<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>CadenaDeValor</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>

	<!--Green-->
	<!-- Bootstrap Core CSS -->
	<link href="../../css/bootstrap.css" rel="stylesheet" type="text/css">

	<!-- Fonts -->
	<link href="../../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<!-- Custom Theme CSS -->    
	<link href="../../css/style.css" rel="stylesheet">
	<link href="../../css/supersized.css" rel="stylesheet">
	<link href="../../css/isotope.css" rel="stylesheet">
	<link href="../../css/magnific-popup.css" rel="stylesheet">    
	
	<link href="../../js/lib/owl-carousel/owl.carousel.css" rel="stylesheet">
	<link href="../../js/lib/owl-carousel/owl.theme.css" rel="stylesheet">
	<link href="../../js/lib/owl-carousel/owl.transitions.css" rel="stylesheet">
	<link href="../../js/lib/video/YTPlayer.css" rel="stylesheet">

</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Contexto de la empresa</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
				<section id="intro" class="sec-dark">
						<div class="container">
							<div class="col-md-12">
								<div id="owl-intro" class="owl-carousel owl-theme">
									<div class="item">
										<h2>Comercia Tu producto</h2>
										<div class="sep"></div>
										<div class="item"><img src="../images/comerciatp.png" class="img-responsive" alt=""></div>
										<h3>¿Quienes Somos?</h3>
										<p>Comercia TP es una empresa orgullosamente mexicana dedicada a la comercializaci&oacute;n y distribuci&oacute;n de productos para el cuidado de la salud.</p>
										<p>Nuestro equipo tiene en conjunto m&aacute;s de 100 años de experiencia en la industria farmac&eacute;utica.</p>
										<p>Contamos con un catalogo de m&aacute;s de mil medicamentos de patente, gen&eacute;ricos y material de curaci&oacute;n.</p>
										<p>Contamos con una infraestructura robusta que nos permite distribuir en toda la republica mexicana.</p>	 
									</div>
									<div class="item">
										<h2>Misi&oacute;n, Visi&oacute;n y Valores</h2>
										<div class="sep"></div>
										<h3>Visi&oacute;n</h3>
										<p>Consolidarnos como una de las principales distribuidoras de medicamentos en M&eacute;xico, fortalecer la relaci&oacute;n con nuestros socios comerciales y formar gente capaz y comprometida con la salud de los mexicanos.</p>
										<h3>Misi&oacute;n</h3>
										<p>Ser el vinculo entre Fabricante y Farmacia, manteniendo siempre los m&aacute;s altos est&aacute;ndares de calidad, fomentando así, el bienestar de las familias mexicanas.</p>
										<h3>Valores</h3>
											<ul class="pricing-table">
												<li>Calidad en nuestro servicio y dentro de nuestros procesos</li>
												<li>Compromiso con nuestros clientes, proveedores, empleados y con M&eacute;xico.</li>
												<li>Creatividad en las soluciones que ofrecemos y en como trabajamos.</li>
											</ul>
									</div>
									<div class="item">
										<h2>Servicios</h2>
										<div class="sep"></div>
										<h3>Ofrecemos nuestro servicio a cadenas nacionales, cadenas regionales, farmacias independientes, hospitales y clínicas</h3>
										<p>Nuestro c&aacute;talogo incluye</p>
										<ul class="pricing-table">
												<li>Gen&eacute;ricos</li>
												<li>Rx</li>
												<li>Refrigerados</li>
												<li>Psicotr&oacute;picos</li>
												<li>Material de Curaci&oacute;n</li>
												<li>Cabinas quir&uacute;rgicas</li>
												<li>Aparatos m&eacute;dicos</li>	
											</ul>
									</div>
									<div class="container">
											<div class="row">
											  <div class="col-md-12">
											
											<h1 class="title">Sobre Nosotros</h1>
												<div class="sep-content"></div>
												<div class="col-md-6" >
													<div id="owl-about-us" class="owl-carousel owl-theme">
															<h2>La industria</h2>
														<div class="item"><img src="../images/Industria.png" class="img-responsive" alt=""></div>
														<h2>Distribuci&oacute;n</h2>
														<div class="item"><img src="../images/distri.png" class="img-responsive" alt=""></div>
														<div class="item"><img src="../images/distri2.png" class="img-responsive" alt=""></div>
														<h2>Corporativo</h2>
														<div class="item"><img src="../images/corporativo.png" class="img-responsive" alt=""></div>
													</div>
												</div>			
										</div>
								</div> 
							</div>
						</div> 
					</div>
					</section><!--/#Top slider-->	
					<section id="about-us">
							<!--/.container-->
							</section><!--/#about-us-->
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">
						Considero que 
						
						</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>